<article class="media">
  <div class="media-left">
    <figure class="image is-64x64">
      <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>
          {{#if player.playingSong}}
            {{player.playingSong.title}}
          {{else}}
            No Current Song
          {{/if}}
        </strong>
        {{#if player.playingSong}}
          <br>
          {{player.playingSong.album}} - {{player.playingSong.artist}}
        {{/if}}
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        {{#if player.playingSong}}
          {{#if player.isPlaying}}
            <a class="level-item" {{action 'doPause'}}>
              <span class="icon is-small"><i class="fa fa-pause"></i></span>
            </a>
          {{else}}
            <a class="level-item" {{action 'doPlay'}}>
              <span class="icon is-small"><i class="fa fa-play"></i></span>
            </a>
          {{/if}}
        {{/if}}
      </div>
    </nav>
  </div>
</article>
