{{#bulma-column isThreeQuarters=true}}
  {{model.title}}
{{/bulma-column}}
{{#bulma-column class="has-text-right"}}
  {{#if isPlaying}}
    <span class="icon is-small" {{action 'doPause'}}>
      <i class="fa fa-pause"></i>
    </span>
  {{else}}
    <span class="icon is-small" {{action 'doPlay'}}>
      <i class="fa fa-play"></i>
    </span>
  {{/if}}
{{/bulma-column}}
